/* Body CSS */
body {
    background-color:rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    margin: 0;
}




/* Body Content CSS */
.body-content {
    padding: 3px;
    font-family:sans-serif;
}




/* Header Image CSS */
.header-img > img {
  margin-top: 30px;
}




/* Section Content CSS */
.section-content {
    padding: 5px;
    font-family:sans-serif;
}




/* Navbar CSS */
.navbar {
    background-color: lightslategray;
    width: 100%;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-right: 50px;
}

.navbar img {
  border-top-left-radius: 10px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 14px;
  margin-right: 20px;
}






/* Unorderlist CSS */
ul.list-item {
     list-style-position: outside;
     text-align: left;
}


ul {
  list-style-type:none;
}


ul.about-list-item {
  list-style-type:square;
}






/* Form CSS */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form-group {
  text-align: center;
}



.form {
    border: 1px solid #eee9e9;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}



.form label {
    display: block;
    margin-bottom: 10px;
}



.form input[type="text"],
.form input[type="email"],
.form input[type="message"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c9c4c4;
    border-radius: 5px;
    box-sizing: border-box;
}



.form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.form input[type="submit"]:hover {
    background-color: #ddd;
    color: #333;
}




/* Input CSS */
input {
  box-sizing: border-box; /* include padding and border in the width calculation */
}






/* Content Section CSS */

.content-section {
  padding: 10px 20px;
  border: 1px solid #5794b8;
  border-radius: 5px;
  margin-bottom: 20px;
}





/* Contact US CSS */
.contact-us{
  background-color: rgb(208, 208, 208);
  margin-bottom: 10px;
}





/* Registration Form CSS */
.register-container{
  background-color: rgb(250, 250, 250);
  width:400px;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
}





/* Login Form CSS */
.login-container{
  background-color: rgb(250, 250, 250);
  width:400px;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
}




/* Update CSS */
.update-content {
  background-color: rgb(250,250,250);
  margin-top: 70px;
  margin-bottom: 20px;
  width: 70%; 
}




/* Dashboard CSS */
.dash-container {
  width: 70%;
  background-color: rgb(250,250,250);
}




/* Dashboard Anchor Tag CSS */
.dash-container  a {
  text-decoration: none;
}




/* Submit Button CSS */
.submit-btn{
  border-radius: 5px;
}





/* Back to Home CSS */
.back-home {
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #7a7272;
  color:#272525;
  padding: 5px;
}





/* Contact Us Form Fields resize CSS  row & column */
.row {
  flex-wrap: wrap;
  margin-top: 5px;
}



.col {
  flex: 1;
  padding: 10px;
}





/* TextArea CSS */
.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}





/* Jumbotron CSS */
.jumbotron{
    position: relative;
    display: inline-block; 
    padding:0 !important;
    margin-top:40px !important;
    width: 90%;
    background: #eee;
    text-align:center;
    margin-bottom: 0 !important;
}




/* Intro Messages CSS */
.intro-messages{
  padding: 30px;
  text-align: justify;
}


.intro-messages a{
  text-decoration: none;
}


/* Section Messages CSS */
.section-messages{
  padding: 30px;
  text-align: justify;
}


.section-messages a{
  text-decoration: none;
}





/* Back to top of Page Button CSS */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #272525;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}


.back-to-top:hover {
  background-color: #555;
}





/* Flash Message */
.messages {
  margin: 20px auto;
  max-width: 800px;
}

.flash-message {
  list-style: none;
  padding: 10px;
}

.alert {
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}






/* Footer CSS */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }