{% extends 'base.html' %}



{% block title %}Contact Us{% endblock %}


{% block body %}
<div class="container">
    {% block header %}<div class="pt-4"><h3>HEALTH CARE SOLUTIONS</h3></div><hr>{% endblock %}
</div>
<br>

<!-- Row and Column with Image and Contact Us Form-->
<div class="row">
    <div class="col">
        <div class="image">
            <img src="{{ url_for('static', filename='images/image6.jpg') }}" alt="Image 6">
        </div>
    </div>
    <div class="col">
        <div class="content-section contact-us">
            <h2>Contact Us</h2> 
         
        <form action="/contact" method="POST">
                {{ form.hidden_tag() }}
                
            <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.subject.label }}
                    {{ form.subject(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.message.label }}
                    {{ form.message(class="form-control") }}
                </div>
                <br>
                    {{ form.submit(class="submit-btn") }}
        </form>
        </div>
    </div>
</div>

<br>
 <p>You can also reach us at:</p>
    <ul>
      <li>Phone: 555-1234</li>
      <li>Email: info@company.com</li>
    </ul>
<a class="back-home" href="{{ url_for('home') }}"><b>Back to Home </b></a>

{% endblock %}








