{% extends 'base.html' %}



{% block title %}Dashboard{% endblock %}


{% block body %}
    <div class="container">
        {% block header %}<h4 class="mt-4">DASHBOARD</h4><hr>{% endblock %}
    </div>

    <div class="card">
        <table class='table table-sm'>
            <div class="card-header">
                <tr>
                    <th>USERNAME</th>
                    <th>EMAIL</th>
                    <th></th>
                </tr>
            </div>
            <div class="card-body">
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href=""><b>Update Account</b></a></td> 
                </tr>  
            </div>
        </table>
    </div>
    <br>
{% endblock %}

  
{% block section %}
    <section id="update-info">
        <form method="POST" action="{{ url_for('update') }}">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" value="{{ user.username }}", class="form-control">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" value="{{ user.email }}", class="form-control">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" value="{{ user.password }}", class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        </form>
    </section>
    {% endblock section %}


