{% extends 'base.html' %}



{% block title %}Dashboard{% endblock %}




{% block body %}

    <div class="dash-container container">
        <div class="dash-header container mt-5 pt-3"><h5>DASHBOARD</h5></div><hr>
        <div class='header-img container'><img src="{{ url_for('static', filename='images/health2.png' )}}" width='700' height='350'></div>
        

        <div class="card">
            <table class='table table-sm'>
                <div class="card-header">
                    <tr>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th></th>
                    </tr>
                </div>
                <div class="card-body">
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ url_for('update') }}"><b>Update Account</b></a></td> 
                    </tr>  
                </div>
            </table>
        </div>
        <br>
    </div>

{% endblock %}


