{% extends 'base.html' %}


<h1>{% block title %}Jobs{% endblock %}</h1>



{% block body %}

<!--{% block header %}<div class="mt-4"><h4>HEALTH CARE SOLUTIONS</h4></div><hr>{% endblock %}-->

<div class='header-img container'><img src="{{ url_for('static', filename='images/health3.jpg' )}}" width='1100' height='400'></div>

  
  <h4>JOBS</h4><hr>

    <div class="card">
      <table class="table table-sm">
        <div class="card-header">
          <tr>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>LOCATION</th>
            <th></th>
          </tr>
        </div>
        <div class="card-body">
            {% if jobs %}
            <tr>
            {% for job in jobs %}
            <tr>
              <td>{{ job.title }}</td>
              <td>{{ job.description }}</td>
              <td>{{ job.location }}</td>
              <td><a href="">More Details</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </div>
      </table>
    </div>

{% endblock %}